<div class='container'>
  <nav class='row'>
    <div class='col-12'>
      <%= link_to @dashboard.toggle_language_label, root_path(language: @dashboard.toggle_language), id: 'toggle_language' %>
    </div>
  </nav>

  <div class='row'>
    <section class='featured_stories col-9-sm'>
      <% @dashboard.featured_stories.each do |featured_story| %>
        <article>
          <h3 class='headline'>
            <%= link_to featured_story.headline, featured_story.url %>
          </h3>
          <h6>
            <% if featured_story.byline.present? %>
              <span class='byline'>
                <%= featured_story.byline %> -
              </span>
            <% end %>
            <span class='last_published'>
              <%= featured_story.last_published %>
            </span>
          </h6>
          <div class='col-3'>
            <%= image_tag featured_story.image_url %>
          </div>
          <div class='col-9'>
            <p class='summary'>
              <%= featured_story.summary %>
            </p>
          </div>
        </article>
      <% end %>
    </section>

    <section class='side_stories col-3-sm'>
      <% @dashboard.side_stories.each do |side_story| %>
        <article>
          <h3 class='headline'>
            <%= link_to side_story.headline, side_story.url %>
          </h3>
          <h6>
            <% if side_story.byline.present? %>
              <div class='byline'>
                <%= side_story.byline %>
              </div>
            <% end %>
            <div class='last_published'>
              <%= side_story.last_published %>
            </div>
          </h6>
          <p class='summary'>
            <%= side_story.summary %>
          </p>
        </article>
      <% end %>
    </section>
  </div>
</div>
